#content {
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.loginform {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 50px;
  border-width: thick;
  box-shadow: 7px -8px 9px -1px;
  list-style: none;
}

.fishLogo {
  font-size: 50px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  border-radius: 25%;
}

.button:hover {
  background-color: #e9e9e9;
  border-color: #aaa;
  color: #555;
}
