.algemene-voorwaarden {
padding-bottom: 25px;
}

ul h1, h2, h3 {
    text-align: center;
}

[data-theme='donker'] ul {
    color: #e0fbfc;
    transition: color 2s ease-out;
}

[data-theme='licht'] ul {
    color: #253237;
    transition: color 2s ease-out;
}