#content {
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}


.loginform {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-shadow: 7px -8px 9px -1px;
    border-radius: 50px;
    border-width: thick;
}

.fishLogo {
    font-size: 50px;
}

.searchbar {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 10px 15px;
    box-shadow: 7px -8px 9px -1px;
    border-radius: 50px;
    border-width: thick;
}

.welkom {
    align-items: center;
    padding: 15px;
    border-radius: 50px;
    border-width: thick;
    box-shadow: 7px -8px 9px -1px;
}

.welkomphoto {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 50px;
    border-width: thick;
}


.buttoncontainer {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 6px;
    margin-top: 10px;
    cursor: pointer;
}

h2, h5 {
  text-align: center;
}

.midden {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 15px;
}

td > img {
    width: 200px;
    height: 150px;
    border-radius: 25%;
}
