.loginform {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    border-color: black;
    border-width: thick;
    -webkit-box-shadow: 7px -8px 9px -1px rgba(0,0,0,1);
}

.fishLogo {
    font-size: 50px;
}

.searchbar {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    border-color: black;
    border-width: thick;
    -webkit-box-shadow: 7px -8px 9px -1px rgba(0,0,0,1);
}

.loginbuttons {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}
