.buttoncontainer {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 6px;
    margin-top: 10px;
    cursor: pointer;
}





/*[data-theme='blue']{*/
/*    background-color: #253237;*/
/*    transition: background-color 2s ease-out;*/
/*}*/

/*[data-theme='yellow']{*/
/*    background-color: #e0fbfc;*/
/*    transition: background-color 2s ease-out;*/
/*}*/