* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[data-theme='donker'] {
    background-color: #253237;
    transition: background-color 2s ease-out;
}

[data-theme='licht'] {
    background-color: #e0fbfc;
    transition: background-color 2s ease-out;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 0 2rem;
}

nav {
    display: flex;
    flex-direction: row;
}

.dropdownRight {
    padding-right: 75px;
    padding-top: 10px;
}

.header2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 0 2rem;
}

[data-theme='donker'] nav a {
    color: #e0fbfc;
    transition: color 2s ease-out;
}

[data-theme='licht'] nav a {
    color: #253237;
    transition: color 2s ease-out;
}


nav a {
    margin: 0 2rem;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    filter: blur();
}

.navLogo {
    max-height: 75%;
    max-width: 75%;
}

.navLogoDropdown {
    display: none;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1.8rem;
    visibility: hidden;
    opacity: 0;
}

.secret {
    display: none;
    margin-top: 70px;
}


@media screen and (max-width: 700px) {
    .navLogo {
        max-height: 75%;
        max-width: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .navLogoDropdown {
        display: flex;
        max-height: 50%;
        max-width: 50%;
        border-radius: 150px;
    }

    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header nav .nav-close-btn {
        margin-top: 50px;
    }

    .header2 nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #0A0B0D;
        transition: 1s;
        transform: translateY(0vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: white;
    }

    nav a {
        font-size: 1.5rem;
        filter: blur();
    }

    .secret {
        display: flex;
        color: white;
        font-size: 100px;
    }

    [data-theme='donker'] header a {
        color: white;
        transition: color 2s ease-out;
    }

    [data-theme='licht'] .header2 a {
        color: white;
        transition: color 2s ease-out;
    }

}


