#footer {
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.navbuttons {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.extendednav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
