.themebtn {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 3%;
    padding : 10px
}

[data-theme='donker']{
    background-color: #253237;
    transition: background-color 2s ease-out;
}

[data-theme='licht']{
    background-color: #e0fbfc;
    transition: background-color 2s ease-out;
}