#content {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}



.fishLogo {
    font-size: 50px;
}

.midcontent {
    max-width: 500px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50px;
    border-width: thick;
    box-shadow: 7px -8px 9px -1px;
}
.buttoncontainer {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    padding: 6px;
    margin-top: 10px;
    cursor: pointer;
}
